<h1>こんにちは</h1>
<h2>仮設トップページです。</h2>

<% if user_signed_in? %>
<h3>サインインされてます。コンテンツをお楽しみください。</h3>
<% else %>
<h3>登録をお願いします。</h3>
<h4><%= link_to("新しいユーザー", new_user_registration_path) %></h4>

<h3>登録はお済みでしたら下記からログインしてください。</h3>
<h4><%= link_to("ログイン", new_user_session_path) %></h4>
<% end %>
