<span id="favorites">
  <%= link_to book_favorite_path(@book), method: :post, remote: true, class: "heart" do %>
  <%= heart_icon(@book) %>
  <% end %>
  <%= "この本いいね [#{@book.favorites.count}]" %>
</span>
