<%= form_with model: @book, local: true do |f| %>
  <div class="book-tags-field">
      <%= f.label "カテゴリータグ" %>
        <ul id="book-tags">
          <%= f.number_field :book_categories, class:'form-control', id: 'book_categories' %>
        </ul>
  </div>
<% end %>
