<% provide :title, '本をとうろくする' %>

<!-- 全体フレーム構成 -->
<div class='container post_form'>

  <!-- 一覧画面へ戻る機能 -->
  <h1>本のとうろく</h1>
  <div class="nav justify-content-end">
    <%= link_to '一覧', :books, class:'btn btn-outline-dark ml-auto' %>
  </div>

  <!-- パーシャル(form) -->
  <%= render partial: 'form', locals: { book: @book } %>
</div>
