// フォント全体設定
body {
  font-family: 'Kosugi Maru', sans-serif;
}

// Top indexページ
#topics {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  h5 {
    color: #708090;
  }

  .topic1 {
    margin-top: 30px;
    cursor: grab;
    padding-left: 20px;
    width: 257px;
    margin-bottom: 3rem;
    transition-property: transform;
    transition-duration: 2s;
  }

  .topic2 {
    margin-top: 30px;
    cursor: grab;
    padding-left: 20px;
    width: 257px;
    margin-bottom: 3rem;
    transition-property: transform;
    transition-duration: 5s;
  }

  .topic3 {
    margin-top: 30px;
    cursor: grab;
    padding-left: 30px;
    background-color:#ffa3a3;
    width: 290px;
    margin-bottom: 2rem;
    transition-property: transform;
    transition-duration: 2s;
  }

  p {
    margin-bottom: 2rem;
  }

  .topic1:hover {
    transform: translateX(300px);
  }

  .topic2:hover {
    transform: translateX(200px) rotate(750deg);
  }

  .topic3:hover {
    transform: translateX(500px) scale(2, 1.5);
  }
}

// ナビゲーションバーホバー時のアンダーライン表示
nav ul li:hover {
  text-decoration: underline;
}

// リンクデフォルト設定変更
// カラーデフォルト青の為
a.heart {
  color: #e91e63;
  text-decoration: none;
}

.avator {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

// error404,500
div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px blue;
  background-color: burlywood;
  text-align: center;
}
