<p>こんにちは <%= @resource.email %>さん</p>

<p>パスワードのリセット依頼を受付しました。下記のリンクにて変更が可能です。</p>

<p><%= link_to 'リンク：パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード変更の依頼をしていない場合、本メールは無視してください。</p>
<p>上記のリンクにアクセスして作成が完了しないとパスワードは変更されません。</p>